{% extends 'sistema/base.html' %} 

{% block title %} 
Accesorios 
{% endblock %} 


{% block content %}


<div class="content-panel">



    <div class="panel-header">


        <h2>
            🎧 Accesorios
        </h2>



        <button 
        class="btn-primary" 
        onclick="abrirModalAccesorio()">


            ➕ Nuevo Accesorio


        </button>



    </div>





    <!-- =========================
        BUSCADOR ACCESORIOS
    ========================== -->


    <div class="inventory-search">



        <div class="search-box">


            🔎


            <input 
            type="text"
            id="buscarAccesorio"
            placeholder="Buscar accesorio por nombre o precio...">


        </div>




        <select id="filtroAccesorio">


            <option value="todos">

                🔍 Todos

            </option>


            <option value="nombre">

                🎧 Nombre

            </option>


            <option value="precio">

                💲 Precio

            </option>


        </select>



    </div>







    <div class="product-grid">





    {% for accesorio in accesorios %}





        <div class="product-card"

        data-nombre="{{ accesorio.nombre|lower }}"

        data-precio="{{ accesorio.precio }}"

        >





            {% if accesorio.imagen %}



                <img 
                src="{{ accesorio.imagen.url }}"
                class="product-image">



            {% else %}



                <div class="no-image">

                    🎧

                </div>



            {% endif %}







            <div class="product-info">





                <h3>


                    {{ accesorio.nombre }}


                </h3>





                <p>

                    📦 {{ accesorio.tipo }}

                </p>






                <p class="price">


                    💲{{ accesorio.precio }}


                </p>






                <p>

                    Stock:
                    {{ accesorio.stock }}


                </p>






                <div class="card-actions">







                    <button 
                    class="btn-edit"



                    onclick="abrirModalEditarAccesorio(

                    '{{ accesorio.id }}',

                    '{{ accesorio.nombre }}',

                    '{{ accesorio.tipo }}',

                    '{{ accesorio.precio }}',

                    '{{ accesorio.stock }}'

                    )">





                        ✏ Editar





                    </button>









                    <a href="{% url 'eliminar_accesorio' accesorio.id %}">



                        <button class="btn-delete">



                            🗑



                        </button>

                    </a>

                </div>

            </div>
        </div>

    {% endfor %}
    </div>

</div>


<!-- Modal Nuevo Accesorio -->

<div id="modalAccesorio" class="modal">

    <div class="modal-content">


        <span 
        class="close-modal"
        onclick="cerrarModalAccesorio()">
        &times;
        </span>


        <h2>
            Nuevo Accesorio
        </h2>



        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}



            <div class="form-group">

                <label>
                    Nombre
                </label>


                <input 
                type="text"
                id="edit_nombre"
                name="nombre"
                required>

            </div>





            <div class="form-group">

                <label>
                    Tipo
                </label>


                <input 
                type="text"
                id="edit_tipo"
                name="tipo"
                required>

            </div>





            <div class="form-group">

                <label>
                    Precio
                </label>


                <input 
                type="number"
                id="edit_precio"
                name="precio"
                required>

            </div>





            <div class="form-group">

                <label>
                    Stock
                </label>


                <input 
                type="number"
                id="edit_stock"
                name="stock"
                required>

            </div>





            <div class="form-group">

                <label>
                    Imagen
                </label>


                <input 
                type="file"
                name="imagen">

            </div>





            <button 
            type="submit"
            class="btn-save">

                Guardar Accesorio

            </button>


        </form>



    </div>

</div>

<!-- Modal para Editar Accesorio -->
<div id="modalEditarAccesorio" class="modal">
    <div class="modal-content">
        <span class="close-modal" onclick="cerrarModalEditarAccesorio()"> &times; </span>
        <h2>Editar Accesorio</h2>
        <form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <input type="hidden" id="edit_id" name="edit_id">

    <div class="form-group">
        <label>Nombre</label>
        <input type="text" id="edit_nombre" name="nombre">
    </div>

    <div class="form-group">
        <label>Tipo</label>
        <input type="text" id="edit_tipo" name="tipo">
    </div>

    <div class="form-group">
        <label>Precio</label>
        <input type="number" id="edit_precio" name="precio">
    </div>

    <div class="form-group">
        <label>Stock</label>
        <input type="number" id="edit_stock" name="stock">
    </div>

    <div class="form-group">
        <label>
        Imagen
        </label>
        <input type="file" name="imagen">
    </div>

    <button type="submit" class="btn-save">
        Guardar Cambios
    </button>

</form>
    </div>
</div>
{% endblock %}