{% extends 'sistema/base.html' %}


{% block title %}
Dashboard Vendedor
{% endblock %}



{% block content %}



<div class="content-panel">


    <div style="
        text-align:center;
        padding:30px;
    ">


        <h1 style="
            color:#0f3460;
        ">

             Bienvenido vendedor 👋

        </h1>


        <p style="
            font-size:18px;
            color:#555;
        ">

            ¿Qué haremos el día de hoy?

        </p>



    </div>


</div>



{% endblock %}